---
import { Image } from 'astro:assets';
const { data } = Astro.props;
const bgColor = data.bgColor;
const textLight = data.textLight;
const textDark = data.textDark;
---

<article>
    <header>
        <Image src={data.profileImage} alt="profile picture" />
        <div class="wrap-text">
            <p class="name">{data.name}</p>
            <p class="graduate">{data.graduate}</p>
        </div>
    </header>
    <h2>{data.title}</h2>
    <p class="body-text">{data.body}</p>
</article>

<style define:vars={{ bgColor, textLight, textDark }}>
    article {
        background-color: var(--bgColor);
        color: white;
        padding: 2rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
    }

    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 2px solid var(--violet-clr);
    }

    .name {
        color: var(--textLight);
        font-size: 16px;
    }

    .graduate {
        color: var(--textLight);
        opacity: 0.5;
    }

    h2 {
        color: var(--textLight);
    }

    .body-text {
        color: var(--textLight);
        opacity: 0.7;
    }
</style>
